body{
    padding:0;
    margin:0;
    font-family: verdana, arial, helvetica;
}

h1{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin:0;
}

h2{
    font-size: 14px;
    padding-bottom:10px;
    border-bottom:#000 1px dotted;

}

header{
    height:40px;
    line-height: 40px;
    padding:20px;
}

nav ul{
    text-align: center;
    list-style:none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin:0 10px;
    height:52px;
    line-height: 50px;;
}

nav li {
    display: inline-block;
    padding:0 2px;
    font-size:14px;
}

nav li a {
    line-height: 30px;
    padding:5px 10px;
    display:block;
    text-decoration: none;
}

main {
    font-size:12px;
}

main span {
    font-weight: bold;
    
}

main aside{
    float:left;
    width:21%;
    margin:20px;
    border-right: #af3434 1px solid;
}

main section{
    float:left;
    width:75%;
    margin:20px 0;   
}

footer{
    height:50px;
    line-height: 50px;
    text-align: center;
    margin-top:10px;
    margin:0 10px;
    font-size:12px;
    clear:both;
}

/* INDEX */
body#index{
    background-color:#c94c4c;
}

#index h1{
    color: #FFF;
}

#index nav ul{
    border-color:#af3434;
}

#index nav li a {
    background-color: #f44336;
    color:#FFF;
    border:#f44336 1px solid;
}

#index nav li a:hover {
    background-color:#ff0000;
}

#index main{
    color:#fff;
}

#index footer{
    border-top:#af3434 1px solid;
    color: #FFF;
}

/* INTERNAS */
body.internas{
    background-color:#FFF;
}

.internas header{
    color: #FFF;
    background-color:#c94c4c;
}

.internas nav ul{
    border-color:#af3434;
}

.internas nav li a {
    background-color: #FFF;
    color:#000;
    border:1px solid;
}

.internas nav li a:hover {
    background-color: #ff0000;
    color:#FFF;
    border:#ff0000 1px solid;
}

.internas main aside{
    text-align:center;
}

.internas main img{
    height:90px;
    border-radius: 50px;

}

.internas main ul {
    list-style: nome;
}

.internas main li {
    display: inline-block;
    padding-right: 30px;;
}

.internas footer{
    border-top:#af3434 1px solid;
    color: #000;
}

/* CONTATO */
#contato main section{
    width:98%;
    margin:20px;   
}

#contato form fieldset{
    border:0;
    padding:0;
}

#contato form legend{
   font-size:14px;
   font-weight: bold;
}

#contato input, 
#contato textarea,
#contato select{
    border-radius:5px;
    border: #CCC 1px solid;
    width:300px;
    padding:4px;
    resize: none;
}

#contato input[type='submit']{
    background-color:#c94c4c;
    color:#fff;
    font-weight:bold;
    border: #c94c4c 1px solid;
}

#contato input[type=text]:focus,
#contato textarea:focus,
#contato select:focus {
    border: #c94c4c 1px solid;
  }

#form_result li {
    display:block;
}